.about-hero {
    text-align: center;
    padding: 60px 20px;
    color: rgb(0, 0, 0);
    background-color: white;
}

.about-hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-hero p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 20vh;
    padding-right: 20vh;
    margin: 0 auto;
    background-color: white;
    height: 70.7vh;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #1f2937;
}

.about-text p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #374151;
}

.about-text ul {
    list-style: none;
    padding: 0;
}

.about-text li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #111827;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}