.catalog {
    padding: 60px 20px;
    background-color: #f8f8f8;
    text-align: center;
    min-height: 91.7vh;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.catalog-card {
    display: flex;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s;
    text-decoration: none;
    color: black;
    text-align: left;
}

.catalog-card h3 {
    margin: 0 0 10px 10px;
    font-size: 24px;
    font-weight: 400;
}

.catalog-card-image {
    flex-shrink: 0;
    width: 300px;
    height: 160px;
    overflow: hidden;
}

.catalog-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}