/* ------------------------- */
/*         category          */
/* ------------------------- */

.category-container {
    background-color: white;
    padding: 60px 20px;
    margin: 0 auto;
    text-align: center;
}

.category-container h1 {
    font-size: 32px;
    color: #1f2937;
    font-weight: 400;
    max-width: 1400px;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 18px;
}

.category-container p {
    font-size: 18px;
    height: 50px;
    color: #374151;
    max-width: 1400px;
    text-align: left;
    margin: 0 auto;
    padding-left: 18px;
}

/* Сетка товаров */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.category-card {
    background-color: white;
    padding: 20px;
    text-align: left;
}

.category-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-color: #cecece;
    border-width: 1px;
    border-style: solid;
}

.category-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #111827;
    height: 60px;
    width: 300px;
    border-bottom: 1px solid #cecece;
    font-weight: 400;
}

.category-card p {
    font-size: 14px;
    color: #4b5563;
    height: 32px;
    width: 300px;
    border-bottom: 1px solid #cecece;
    font-weight: 300;
    margin: 0 0 0 0;
}

/* Блок с количеством и кнопкой */
.category-actions {
    display: flex;
    width: 300px;
    gap: 68px;
    align-items: center;
    padding-top: 20px;
}

.category-actions label {
    font-size: 14px;
    color: #374151;
}

.category-actions input {
    width: 60px;
    padding: 6px;
    font-size: 14px;
    margin-left: 8px;
    border: 1px solid #d1d5db;
    background-color: #f9fafb;
    color: #111827;
}

.category-actions button {
    padding: 8px 16px;
    background-color: chocolate;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.category-actions button:hover {
    background-color: rgb(189, 94, 26);
}

/* ------------------------- */
/*       category info       */
/* ------------------------- */

.category-info {
    background-color: white;
    text-align: left;
    height: 91vh;
    padding: 20px;
}

.category-info h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 400;
    margin-bottom: 20px;
    padding-top: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.category-info h2 {
    font-size: 28px;
    color: #1f2937;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.category-info p {
    font-size: 20px;
    font-weight: 300;
    color: #374151;
    margin-bottom: 12px;
    line-height: 1.6;
    max-width: 1400px;
    margin: 0 auto;
}

/* Изображение по центру*/
.category-info img {
    display: block;
    width: 100%;
    max-width: 1400px;
    max-height: 600px;
    object-fit: cover;
    margin: 20px auto;
}