.category-container {
    background-color: white;
    padding: 60px 20px;
    margin: 0 auto;
    text-align: center;
}

.category-container h1 {
    font-size: 32px;
    color: #1f2937; /* тёмно-серый */
    font-weight: 600;
    max-width: 1400px;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 18px;
}

.category-container p {
    font-size: 18px;
    height: 50px;
    color: #374151; /* серый */
    max-width: 1400px;
    text-align: left;
    margin: 0 auto;
    padding-left: 18px;
}

/* Сетка товаров */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.category-card {
    background-color: white;
    padding: 20px;
    text-align: left;
}

.category-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-color: #cecece;
    border-width: 1px;
    border-style: solid;
}

.category-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #111827; /* почти чёрный */
}

.category-card p {
    font-size: 14px;
    color: #4b5563; /* серый */
    margin-left: -18px;
}

/* Блок с количеством и кнопкой */
.category-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-actions label {
    font-size: 14px;
    color: #374151;
}

.category-actions input {
    width: 60px;
    padding: 6px;
    font-size: 14px;
    margin-left: 8px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    background-color: #f9fafb;
    color: #111827;
}

.category-actions button {
    padding: 8px 16px;
    background-color: chocolate; /* красная кнопка */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.category-actions button:hover {
    background-color: rgb(189, 94, 26); /* чуть темнее при наведении */
}