* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.hero-content {
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: left;
    padding-top: 50vh;
    padding-left: 100px;
}

.hero-content h1 {
    font-size: 100px;
    margin-bottom: 1px;
    font-weight: 500;
    line-height: 1.2;
}

.hero-content p {
    font-size: 40px;
    margin-bottom: 50px;
}

.main-section {
    background: white;
    padding: 60px 20px;
    text-align: center;
    height: 60vh;
    color: black;
}

.main-section h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
}