/* overlay для затемнения и размытия */
.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* само окно */
.login-modal {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    position: relative;
}

.login-modal label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #1f2937;
}

.login-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #1f2937;
}

.login-modal h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #1f2937;
}

.login-modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-modal form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    font-size: 16px;
    width: 100%;
    color: #1f2937;
}

.login-modal p {
    color: #1f2937;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

.login-modal form button {
    padding: 12px 20px;
    background-color: chocolate;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 50%;
    align-self: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.login-switch {
    margin-top: 15px;
    text-align: center;
    color: #1f2937;
}

.login-switch button {
    background: none;
    border: none;
    color: chocolate;
    cursor: pointer;
    font-size: 14px;
    padding-left: 4px;
    text-transform: uppercase;
    font-weight: 400;
}

.login-modal form button:hover {
    background-color: #bd5e1a;
    transition: background 0.3s ease;
}