.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    color: white;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar-center {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-center a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.navbar-center a:hover {
    color: chocolate;
    transition: color 0.3s;
}

.navbar-right {
    display: flex;
    flex-direction: column;
}

/* Бургер-кнопка */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger span {
    width: 25px;
    height: 3px;
    background: white;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-center {
    line-height: 2px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
  }

  .navbar-center.open {
    display: flex;
  }

  .navbar-center li {
    margin: 10px 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

  .burger span {
    width: 25px;
    height: 3px;
    background: white;
  }

  .navbar-right {
    display: none; /* можно скрыть контакты на мобильной версии */
  }
}