.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    color: white;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.navbar-center {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-center a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}

.navbar-center a:hover {
    color: chocolate;
    transition: color 0.3s;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 300;
}

/* Бургер-кнопка */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger span {
    width: 25px;
    height: 3px;
    background: white;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-center {
        position: fixed;
        line-height: 5px;
        flex-direction: column;
        top: 0;
        left: 0;
        padding: 40px 20px;
        z-index: 10;
        text-align: left;
        background-color: white;
        height: 100%;
        width: 200px;
        border-right: 1px solid #cecece;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .navbar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .navbar-center li a {
        color: black;
    }

    .navbar-center.open {
        transform: translateX(0);
    }

    .navbar-center li {
        margin: 10px 0;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        margin-top: 10px;
    }

    .burger span {
        width: 25px;
        height: 3px;
        background: white;
    }

    .navbar-right {
        display: none; /* можно скрыть контакты на мобильной версии */
    }
}